<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Data Table</h1>
                <alert :message=message v-if="showMessage"></alert>
                <hr><br><br>
                <h3>Current Page: {{ currPageNumber }} / {{ totalPages }}</h3>
                <br><br>
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  @click="previousPage()">Last Page</button>
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  @click="nextPage()">Next Page</button>
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  @click="downloadData()">Update Data</button>
                <br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Status</th>
                            <th scope="col">Result (ID / (ID - 5))</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(record, index) in records" :key="index">
                            <td>{{ record[0] }}</td>
                            <td>{{ record[1] }}</td>
                            <td>{{ record[2] }}</td>
                            <td>{{ record[3] }}</td>
                            <td>{{ record[4] }}</td>
                            <td>{{ record[5] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      records: [],
      currPageNumber: 1,
      totalPages: 1,
      baseUrl: 'http://localhost:5000/',
      dataRoute: 'datatable/',
      downloadRoute: 'download',
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getData() {
      const path = this.baseUrl + this.dataRoute + this.currPageNumber;
      axios.get(path)
        .then((res) => {
          if (res.data.state === 'success') {
            this.records = res.data.records;
            this.totalPages = res.data.count;
          } else if (res.data.state === 'noData') {
            this.message = 'No data available. Maybe try pressing \'Update Data\'?';
            this.showMessage = true;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    downloadData() {
      this.message = 'Downloading data...';
      this.showMessage = true;
      const path = this.baseUrl + this.downloadRoute;
      axios.get(path)
        .then((res) => {
          this.showMessage = false;
          this.currPageNumber = 1;
          this.getData();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    nextPage() {
      this.currPageNumber = Math.min(this.currPageNumber + 1, this.totalPages);
      this.getData();
    },
    previousPage() {
      this.currPageNumber = Math.max(this.currPageNumber - 1, 1);
      this.getData();
    },
  },
  created() {
    this.getData();
  },
};
</script>
